/* reset */

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000;
}


/* common */

html {
  background-color: #eee;
}

h1 {
  text-align: center;
}


/* header */

header ul {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: block;
  padding: 14px 20px;
}

header ul li a.active,
header ul li a:hover {
  border-bottom: 2px solid #0c76c3;
  color: #0c76c3;
}